/* Общие стили */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Шапка */
header {
  background-color: #0077b6;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
}

header nav {
  margin-top: 20px; /* Увеличенный отступ сверху для ссылок */
}

header nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 5px 10px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

header nav a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.2));
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

header nav a:hover,
header nav a:active {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
}

header nav a:hover:before,
header nav a:active:before {
  opacity: 1;
}

.section {
  padding: 50px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  opacity: 0; /* Начальная прозрачность */
  animation: fade-in 2s ease-in-out forwards; /* Определение анимации */
}

@keyframes fade-in {
  0% {
    opacity: 0; /* Начальная прозрачность */
  }
  100% {
    opacity: 1; /* Конечная прозрачность */
  }
}

.section h2 {
  text-align: center;
}

/* О нас */
#about {
  text-align: center; /* Центрирование всего блока */
}

#about img {
  display: block; /* Расположение картинки по центру */
  margin: 0 auto; /* Центрирование картинки */
  max-width: 100%;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#about p {
  text-align: center; /* Центрирование текста */
  font-style: italic;
  font-size: 1.2em;
  width: 70%;
  max-width: 70%;
  margin: 0 auto; /* Центрирование текста */
  margin-top: 20px;
}

/* Услуги */
.services {
  margin-bottom: 30px;
}
#services {
  text-align: center; /* Центрирование всего блока */
}

#services img {
  display: block; /* Расположение картинки по центру */
  margin: 0 auto; /* Центрирование картинки */
  max-width: 100%;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#services p {
  text-align: center; /* Центрирование текста */
  font-style: italic;
  font-size: 1.2em;
  width: 70%;
  max-width: 70%;
  margin: 0 auto; /* Центрирование текста */
  margin-top: 20px;
}
/* Обратная связь */
.contact-form {
  max-width: 500px;
  margin: 0 auto;
}
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.back-to-top.show {
  opacity: 1;
}
